@import "../../styles/theme";

.footer {
  position: fixed;
  bottom: 0;
  height: 2vh;
  min-width: 100vw;

  box-sizing: border-box;
  border-top: 1px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;

  .menuWrapper {
    margin: 0 8px;

    label {
      margin: auto;

      .labelText {
        font-size: small;
      }
    }
  }
}
