@import "../../../styles/theme";

.tile {
  position: relative;
  display: inline;
  width: 72px;
  height: 72px;
  z-index: 1;

  box-sizing: border-box;
  border: 1px solid;

  font-size: xx-small;

  background-color: royalblue;
}
