body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
